<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD de Máquinas</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Cadastro_Maquina_pina.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>


  <header>
    <h1>Expresso Conectado</h1>
  </header>
  <input type="hidden" id="maquinaId" name="maquinaId">
  <div class="container-main">
    <!-- Contêiner do List Group -->
    <div class="list-group-container">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="#" data-toggle="collapse" data-target="#opcao1">EC-Pina</a>
          <ul class="list-unstyled collapse" id="opcao1">
            <li><a href="/info/principal_sit_geral_Ecpina.html">Situação geral</a></li>
            <li><a href="/Manutencao_Predial_Pina">Manutenção Predial Pina</a></li>
            <li><a href="/Autenticacao_Centralizada_Pina">Autenticação Centralizada</a></li>
            <li><a href="/Chamados_TI_Pina">Chamados de T.I</a></li>
            <li><a href="/Cadastro_Maquinas_Pina">Cadastro de Maquinas</a></li>
          </ul>
        </li>
        <li class="list-group-item">
          <a href="#" data-toggle="collapse" data-target="#opcao2">Ec-Boa Vista</a>
          <ul class="list-unstyled collapse" id="opcao2">
            <li><a href="#">Situação geral</a></li>
            <li><a href="#">UTM</a></li>
            <li><a href="#">Nobreak</a></li>
            <li><a href="#">Autenticação Centralizada</a></li>
          </ul>
        </li>
        <li class="list-group-item">
          <a href="#" data-toggle="collapse" data-target="#opcao3">Ec-Olinda</a>
          <ul class="list-unstyled collapse" id="opcao3">
            <li><a href="#">Situação geral</a></li>
            <li><a href="#">UTM</a></li>
            <li><a href="#">Nobreak</a></li>
            <li><a href="#">Autenticação Centralizada</a></li>
          </ul>
        </li>
        <li class="list-group-item">
          <a href="#" data-toggle="collapse" data-target="#opcao4">Ec-Vitoria</a>
          <ul class="list-unstyled collapse" id="opcao4">
            <li><a href="#">Situação geral</a></li>
            <li><a href="#">UTM</a></li>
            <li><a href="#">Nobreak</a></li>
            <li><a href="#">Autenticação Centralizada</a></li>
          </ul>
        </li>
        <li class="list-group-item">
          <a href="#" data-toggle="collapse" data-target="#opcao5">Ec-Caruaru</a>
          <ul class="list-unstyled collapse" id="opcao5">
            <li><a href="#">Situação geral</a></li>
            <li><a href="#">UTM</a></li>
            <li><a href="#">Nobreak</a></li>
            <li><a href="#">Autenticação Centralizada</a></li>
          </ul>
        </li>
        <li class="list-group-item">
          <a href="#" data-toggle="collapse" data-target="#opcao6">Ec-Garanhuns</a>
          <ul class="list-unstyled collapse" id="opcao6">
            <li><a href="#">Situação geral</a></li>
            <li><a href="#">UTM</a></li>
            <li><a href="#">Nobreak</a></li>
            <li><a href="#">Autenticação Centralizada</a></li>
          </ul>
        </li>

        <li class="list-group-item">
          <a href="#" data-toggle="collapse" data-target="#opcao7">Ec-Salgueiro</a>
          <ul class="list-unstyled collapse" id="opcao7">
            <li><a href="#">Situação geral</a></li>
            <li><a href="#">UTM</a></li>
            <li><a href="#">Nobreak</a></li>
            <li><a href="#">Autenticação Centralizada</a></li>
          </ul>
        </li>

        <li class="list-group-item">
          <a href="#" data-toggle="collapse" data-target="#opcao8">Ec-Petrolina</a>
          <ul class="list-unstyled collapse" id="opcao8">
            <li><a href="#">Situação geral</a></li>
            <li><a href="#">UTM</a></li>
            <li><a href="#">Nobreak</a></li>
            <li><a href="#">Autenticação Centralizada</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Conteúdo da página -->
    <div class="content">
      <div id="titulo-menu">
        <h1>Cadastro de Máquinas</h1>
        <button id="btnOpenForm" onclick="openModal()">Adicionar Máquina</button>

      </div>
      <!-- Formulário de adição (inicialmente oculto) -->
      
      <div class="new-form-container" id="newFormContainer">
        <div class="newMaquinaForm">
          <form id="maquinaForm">
            <div class="form-group">
              <label for="orgao">Orgão:</label>
              <input type="text" id="orgao" class="form-control" placeholder="Orgão" required>
            </div>
            <div class="form-group">
              <label for="ip">IP:</label>
              <input type="text" id="ip" class="form-control" placeholder="IP" required>
            </div>
            <div class="form-group">
              <label for="tombamento">Tombamento:</label>
              <input type="text" id="tombamento" class="form-control" placeholder="Tombamento" required>
            </div>
            <div class="form-group">
              <label for="guiche">Guichê:</label>
              <input type="number" id="guiche" class="form-control" placeholder="Guichê" required>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="button" id="btnCancel" class="btn btn-secondary">Cancelar</button>
          </form>
        </div>
      </div>


      <!-- Lista de máquinas -->
      <div class="card" id="maquinasList"></div>

      

    
     
    </div>
  </div>

  <!-- Adicionando scripts -->
  <script src="{{ url_for('static', filename='Cadastro_Maquina_Pina.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>